extends ../components/layouts/main-layout

block variables
  -
    title = 'Главная'

block main
  +hero-section({ items: categoriesData, title: 'даты' })
  //- +hero-section({ items: categoriesData, title: 'Исторические даты' })
