doctype html
include ../../snippets/vars

block variables

include ../components
include ../_auto-import

html(lang="ru")
  head
    include ../../snippets/meta
    include ../../snippets/favicon
    include ../../snippets/open-graph

    link(rel="stylesheet" href="/src/scss/style.scss")

    script(data-skip-moving="true").
      var ASSETS_PATH = './assets/'

  body(class=bodyMods)
    noscript
      .noscript Для полноценной работы сайта, необходимо включить JavaScript!

    +sprite()

    .page(class=pageMods && `page--${pageMods}`)
      .page__core
        block main

    script(src="/src/js/main.ts" type="module" defer)
