.dot-pagintation {
  @include square(rem(6 + 10));
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
  bottom: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  vertical-align: middle;
  line-height: 1;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none;
  background: transparent;
  overflow: hidden;
  color: transparent;
  padding: 0;
  font-size: 0;
  pointer-events: all;

  &::before {
    @include square(rem(6));
    content: '';
    flex: 0 0 auto;
    border-radius: 50%;
    background: rgba(color('black-blue'), 0.4);
    transition: background var(--trans-base);
  }

  &:hover {
    //
  }

  &:active::before,
  &.is-active::before {
    background: var(--color-black-blue);
  }
}
